/*过滤目录*/
div[data-path*="index.html"],
div[data-path*="docsify.py"],
div[data-path*="LICENSE"],
div[data-path*="src"],
div[data-path*="assets"],
div[data-path*="assets"] + div.nav-folder-children {
    display: none;
}

/*引用格式*/
/*.markdown-preview-view blockquote {*/
/*    color: #424242;*/
/*    font-size: .85em;*/
/*}*/

.markdown-reading-view ol,
.markdown-reading-view ul {
    margin-top: -5px;
}

.markdown-reading-view ol li,
.markdown-reading-view ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*!* 移除第一个列表项的上边距 *!*/
/*.markdown-reading-view ol li:first-child,*/
/*.markdown-reading-view ul li:first-child {*/
/*    margin-top: 0;*/
/*}*/